#imgFondo{
   
    background-image: url(../img/fondo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: beige ;
}
#logo{
    width: 120px;
    height: 100px;
    position: absolute;
    top: 5px;
    left : 10px;

    }
    #tituloIniciar{
        position:relative;
        top:5em;
        width:800px;
        height:150px;
        
        }
        #btnIniciar {
            position:relative;
            top:10em;
            width:20em;
            display:block; 
            } 
        #tituloInstrucciones {
            position:relative;
            top:5em;
            width:400px;
            height:80px;
       }
       #video {
        position:relative;
        top:9em;
        width:500px;
        height:300px;
        display:block; 
           }
    
       #btnJugar{
        position:relative;
        top:10em;
        width:20em;
        display:block; 
       }
       #tituloBarEscolar{
        position:relative;
        top:5em;
        width:700px;
        height:150px;
       }
       #BarEscolar{
        position:relative;
        top:5em;
       
        width:500px;
        height:600px;
        display:block; 
       }
       #draggable {
           position:fixed;
        width: 100px;
        height: 100px;
        background: #ccc;
        z-index: 2;
      }
      #droppable {
        position: absolute;
        left: 250px;
        top: 0;
        width: 125px;
        height: 125px;
        background: #999;
        color: #fff;
        padding: 10px;
      }







       /* Puzzle */
#contenedorPiezas{
    /* background: #e7931a; */
    width: 200px;
    height: 300px;
    /* float: left; */
    /* margin-left: 10px; */
    box-shadow: 0px 0px 10px  2px #d0eb6a;
}
       #lonchera{
       
        /* top:9em; */
        width:300px;
        height:210px;
        display:block;  
       }

/* Contenedor del puzzle*/
#contenedorPuzzle {
    margin: 40px auto;
    width: 450px;
    /* background: rgba(20,20,20,0.8); */
    /* box-shadow: 0px 0px 10px  2px #777; */
    color: #ccc;
    padding: 20px;
    /* border-radius: 10px; */
    overflow: hidden;
}
#resultado {
  text-align: center;
  font-size: 30px;
  color: black;
}




#puzzle {
    background: #d0eb6a;
    width: 200px;
    height: 300px;
    float: right;
    margin-right: 10px;
    box-shadow: 0px 0px 10px  2px #e7931a;
}
.contenedorPieza {
    width: 100px;
    height: 100px;
    float: left;
}

#contenedorPuzzle img {
    float: left;
    padding: 1px;
    width: 98px;
    height: 98px;
}


      
       #tituloPuntaje{
        position:relative;
        top:8em;
        width:400px;
        height:80px;
       }
 .misfrutas img{  
     margin-right: 6%;
     margin-left: 30px;
 
 }      
      
#miprimerdiv{
 margin-top: 400px;
 margin-left: 90px;
width: 90%;
}
#misegundodiv{
    
    width: 100%;
   }

 .draggable  {
width: 40px;
height: 50px;
margin-top:100px;
 }
 
 #contenFrutas{
    background-image: url('../img/bar.png');
    background-size: cover;
    height: 787px;
    width: auto;
 }
 .lonchera img{
    height: 50px;
    background-position: center;
    z-index: 99999;
    margin: 0;
    position: relative;
    left: 107px;
    top: 49px;
    margin-left: 6px;
  }
 .lonchera div{
    height : 120px;
    width:100%;
 } 
 .contenedor3{
    margin-top: 25%;
 }
 #lonchera1{
    background-image: url(../img/lonchera.png);
   
    /* background: #d0eb6a; */
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    width: 52%;
   margin-bottom: 82px;
    height: 69vh;
    left: 28%;
 }
 @media only screen and (max-width: 768px) {
    /* For mobile phones: */
      .lonchera{
          width: 50% !important;
      background-size: 40px 100px !important;
      }
  
  }
  
  
  
  @media only screen and (max-width: 768px) {
  .container-fluid row bar{
       width: 70% !important;
      background-size: 80px 100px !important;
  }
  }
  
  @media only screen and (max-width: 768px) {
  .img-fluid{
       width: 50% !important;
      background-size: 80px 100px !important;
  }
  }
  
  
  @media only screen and (max-width: 768px) {
  .video-stream html5-main-video{
       width: 50% !important;
      background-size: 80px 100px !important;
  }
  }


@media only screen and (max-width: 768px) {
.botellas{
     width: 50% !important;
    background-size: 80px 100px !important;
}
}

@media only screen and (max-width: 768px) {
.celda{
     width: 50% !important;
    background-size: 80px 100px !important;
}
}

@media only screen and (max-width: 768px) {
.misfrutas{
     width: 50% !important;
    background-size: 80px 100px !important;
}
}
  